@page
@model PizzaModel
<h1 class="text-center">YC Interview Pizza</h1>
<br>
<div style="width: 18rem;">
  <div class="card-body">
    <img src="https://upload.wikimedia.org/wikipedia/commons/d/df/Shopping_cart_icon.svg" alt="shop icon" style="width: 50px; height: 50px;">
    <h4 style="text-align: center;">Confirm your order</h4>
    <br>
	<h5>Pizza for: @Model.Customer</h5>
	<h5>Order: @Model.Order</h5>
    	<h5>Extra Cheese: @Model.ExtraCheese</h5>
	<h5>Total: @Model.Total</h5>
    <br>
    <input type="submit" value="Place Order">
  </div>
</div>
